In [1]:
s = "Rahul"
print(s)

Rahul

In [2]:
s = 'Rahul'
print(s)

Rahul

In [3]:
s = '''My
name
is
Rahul'''
print(s)

My
name
is
Rahul

In [4]:
s = "Rahul"
s[0]

'R'

In [5]:
s[1]

'a'

In [6]:
s[-1]

'l'

In [7]:
s[-2]

'u'

In [9]:
s = '''My
name
is
Rahul'''

s[0]

'M'

In [10]:
s[1]

'y'

In [11]:
s[2]

'\n'

In [12]:
s

'My\nname\nis\nRahul'

## How strings are stored

In [13]:
a = "Rohan"

In [14]:
print(a)

Rohan

In [15]:
id(a)

2306249659632

In [16]:
s = "Rahul"

In [18]:
print(s)

Rahul

In [19]:
id(s)

2306249515824

In [20]:
s = "Rohan"

In [21]:
print(s)

Rohan

In [22]:
id(s)

2306249659632

## Operations

split()

In [24]:
s = "My name is Rahul"
li = s.split()

li

['My', 'name', 'is', 'Rahul']

In [25]:
s = "My,name,is,Rahul"
li = s.split(',')

li

['My', 'name', 'is', 'Rahul']

replace()

In [26]:
s = "My name is Rahul"
s.replace("Rahul", "Rohan")

print(s)

My name is Rahul

find()

In [27]:
s = "My name is Rahul"
s.find('na')

3

In [28]:
s = "My name is Rahul Rahul"
s.find('Rah', 16, 23)

17

lower(), upper()

In [30]:
s = "My name is Rahul"

s = s.lower()
print(s)

s = s.upper()
print(s)

my name is rahul
MY NAME IS RAHUL

startswith()

In [33]:
s = "My name is Rahul"

ans1 = s.startswith("My na")
print(ans1)

ans2 = s.startswith("My nae")
print(ans2)

ans3 = s.startswith("Ra", 11, 15)
print(ans3)

ans4 = s.startswith("My nae", 11, 15)
print(ans4)

True
False
True
False