In [1]:
a = (1, 2)

In [2]:
print(a)

(1, 2)

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
b = 3
c = 4

print(b)
print(c)

print(type(b))
print(type(c))

e = 3, 4

print(e)

print(type(e))

3
4
<class 'int'>
<class 'int'>
(3, 4)
<class 'tuple'>

In [5]:
e[0]

3

In [6]:
e[1]

4

In [7]:
e[-1]

4

In [8]:
e[-2]

3

In [9]:
f = (1, 2, 3, 4, 5)
f[0:3]

(1, 2, 3)

In [11]:
f[::-1]

(5, 4, 3, 2, 1)

In [12]:
del f

# Tuple functions

In [13]:
a = (1, 2, 3)
b = 4, 5

In [14]:
for i in a:
    print(i)

1
2
3

In [15]:
1 in a

True

In [16]:
0 in a

False

In [17]:
len(a)

3

In [19]:
c = a + b
c

(1, 2, 3, 4, 5)

In [20]:
d = (a, b)
d

((1, 2, 3), (4, 5))

In [21]:
e = a * 4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
max(a)

3

In [23]:
a2 = (1, 2, "s", "hello")

In [25]:
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
a3 = ("hello", "world", "is", "the")

In [28]:
max(a3)

'world'

In [29]:
min(a3)

'hello'

In [30]:
l = [1, 2, 3, 4]
tuple(l)

(1, 2, 3, 4)