In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [3]:
df = iris.copy()

In [6]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [7]:
# Adding some Nan entries for study purpose
df.iloc[2:4, 1:3] = np.nan

In [8]:
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  NaN  NaN  0.2     Iris-setosa
3    5.0  NaN  NaN  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [9]:
# drop the entries itself
df.dropna(inplace = True)

In [10]:
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [11]:
df.reset_index(drop = True, inplace = True)
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    5.4  3.9  1.7  0.4     Iris-setosa
3    4.6  3.4  1.4  0.3     Iris-setosa
4    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
142  6.7  3.0  5.2  2.3  Iris-virginica
143  6.3  2.5  5.0  1.9  Iris-virginica
144  6.5  3.0  5.2  2.0  Iris-virginica
145  6.2  3.4  5.4  2.3  Iris-virginica
146  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [12]:
# Adding some Nan entries for study purpose
df.iloc[2:4, 1:3] = np.nan

In [17]:
# replace the nan with a value
df.sw.fillna(df.sw.mean(), inplace = True)
df.pl.fillna(df.pl.mean(), inplace = True)

In [18]:
df

      sl        sw        pl   pw     flower_type
0    4.9  3.000000  1.400000  0.2     Iris-setosa
1    4.7  3.200000  1.300000  0.2     Iris-setosa
2    5.4  3.038621  3.837241  0.4     Iris-setosa
3    4.6  3.038621  3.837241  0.3     Iris-setosa
4    5.0  3.400000  1.500000  0.2     Iris-setosa
..   ...       ...       ...  ...             ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica
143  6.3  2.500000  5.000000  1.9  Iris-virginica
144  6.5  3.000000  5.200000  2.0  Iris-virginica
145  6.2  3.400000  5.400000  2.3  Iris-virginica
146  5.9  3.000000  5.100000  1.8  Iris-virginica

[147 rows x 5 columns]